*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#02205e ;
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.lg-text{
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1.5rem;
    font-weight: lighter;
}

#dynamic{
    position: relative;
    display: inline-block;
}

#dynamic::after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    right:-10px;
    width:2px;
    height:100%;
    background-color:white;
}

#dynamic.active::after{
    display: none;
}